<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.safe_now_2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Hardware -->
    <uses-feature android:name="android.hardware.telephony" android:required="false" />

    <!-- Phase 1 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- Phase 2 -->
    <uses-permission android:name="android.permission.CALL_PHONE"  />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Safe_now_2">

<!--        <activity android:name=".controller.SplashActivity"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN"/>-->
<!--                <category android:name="android.intent.category.LAUNCHER"/>-->
<!--            </intent-filter>-->
<!--        </activity>-->


                <activity android:name=".controller.VrSimulationActivity"
                    android:exported="true">
                    <intent-filter>
                        <action android:name="android.intent.action.MAIN"/>
                        <category android:name="android.intent.category.LAUNCHER"/>
                    </intent-filter>
                </activity>

        <activity android:name=".controller.LoginActivity"/>
        <activity android:name=".controller.HomeActivity"/>

        <!--
            OTP — thème light FORCÉ même en dark mode.
            La clé est d'utiliser Theme.SafeNow.OTP qui est défini
            UNIQUEMENT dans values/themes.xml (pas dans values-night/).
            Android ne trouvera pas de version night → utilisera la light.
        -->
        <activity
            android:name=".controller.OtpVerificationActivity"
            android:exported="false"
            android:theme="@style/Theme.SafeNow.OTP"
            android:windowSoftInputMode="adjustResize" />

        <!-- MAIN -->
        <activity
            android:name=".controller.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.SafeNow" />

    </application>

</manifest>